.quadrado{
    width: 100px;
    height: 100px;
    padding: 15px;
}
.vermelho{
    background-color: red;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.absolute{
    position: absolute;
    top: 20px;
    left: 20px;
}
.relative{
    position: relative;
    top: 20px;
    left: 20px;
}
.fixed{
    position: fixed;
    top: 20px;
    left: 20px;
}
.sticky{
    position: sticky;
    top: 20px;
    left: 20px;
}