.caixa_grande {
    position: relative;
  }
  
  .caixa01 {
    position: absolute;
   /* z-index: 2; */
    border: dashed;
    height: 10em;
    width: 10em;
    margin-bottom: 3em;
    margin-top: 6em;
  }
  .caixa02 {
    position: absolute;
   /* z-index: 3; */ 
    background: gold;
    width: 80%;
    left: 60px;
    top: 10em;
  }
  .caixa03 {
    position: absolute;
   /* z-index: 1; */ 
    background: lightgreen;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 7em;
    opacity: 0.9;
  }