ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: aquamarine;
  }
  
  li a {
    display: block;
    color: beige;
    padding: 8px 16 px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }