header   { background-color: SkyBlue;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    padding: .2em; }
p        { text-align: justify;
    font-family: verdana, geneva, sans-serif;
    margin: .5em; }
h1       { margin-top: 0px; }    
.flutuar { background-color: LightGrey;
    font-size: 1.5em;
    font-family: arial, helvetica, sans-serif;
    padding: .2em;
    margin-left: .5em;
    margin-bottom: .5em;
    margin-right: .5em;
    margin-top: .5em;
    float: left;
    text-align: center;
    width: 40%; }
section { border: 1px solid skyBlue; }